In [5]:
#import libraries
import pandas as pd
import numpy as np
from pathlib import Path

In [6]:
#The path where raw stock CSV files are stored
data = Path("../data/raw/stocks")

# Reading individual stock datasets
aapl = pd.read_csv(data / "AAPL.csv")
msft = pd.read_csv(data / "MSFT.csv")
googl = pd.read_csv(data / "GOOGL.csv")

# Adding stock identifier column to each dataset
aapl["Stock"] = "AAPL"
msft["Stock"] = "MSFT"
googl["Stock"] = "GOOGL"

# Combining all stock datasets into a single DataFrame
stocks_df = pd.concat([aapl, msft, googl], ignore_index=True)

# Displaying first few rows
stocks_df.head()

         Date        Open        High         Low       Close     Volume Stock
0  2022-11-08  486.253934  487.574326  485.880527  486.447077  2156062.0  AAPL
1  2000-05-26  139.790236  141.730940  139.713502  140.208642  3516983.0  AAPL
2  2022-10-03  507.243992  508.078515  506.887568  507.968607  1578140.0  AAPL
3  2018-11-09  491.460368  494.454274  487.612624  489.160088  2370674.0  AAPL
4  2011-02-04  311.066012  315.084473  310.507703  314.056820  3806528.0  AAPL

In [7]:
# Path to store Bronze output
bronze_output_path = Path("../data/processed")

# Write Bronze data to CSV
stocks_df.to_csv(
    bronze_output_path / "cleaned_stock_data.csv",
    index=False
)

# Display confirmation
print("Bronze data written to data/processed/cleaned_stock_data.csv")

Bronze data written to data/processed/cleaned_stock_data.csv

In [8]:
import pandas as pd
from pathlib import Path

# Load raw portfolio transactions
portfolio_path = Path("../data/raw/portfolio")
transactions_df = pd.read_csv(portfolio_path / "transactions.csv")

# Create processed directory if not exists
processed_path = Path("../data/processed")
processed_path.mkdir(parents=True, exist_ok=True)

# Write Bronze output
transactions_df.to_csv(
    processed_path / "cleaned_transactions.csv",
    index=False
)

transactions_df.head()

   Trade_Date  Stock  Quantity        Price Trade_Type
0  2005-06-07  GOOGL      25.0   296.133223       SELL
1  2008-03-10  GOOGL      50.0  1287.615079       SELL
2  2020-11-17   AAPL      10.0   237.339908        NaN
3  2024-04-22   AAPL     -10.0   143.063906       SELL
4  2021-08-25   AAPL      10.0  1291.844776        BUY